h1 {
    color: magenta;
    background-color: maroon;
}

#main-title {
    color: chocolate;
    font-size: 40px;
    font-style: italic;
    font-family: fantasy;
}

.nice-text {
    color: cornflowerblue;
}